*{
    margin: 0;
    padding: 0;
    
}
.container{
    max-width: 95%;
    

}
.header{
    
    padding: 15px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}