*{
    margin: 0;
    padding: 0;
    
}
.container{
    max-width: 92%;
    

}
.header{
    
    padding: 15px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header h1{
    font-size: 2em;
    font-weight: 500;
    color: #a60f55;
}
.header h3{
    font-size: 1.3em;
    font-weight: 400;
    color: #a60f55;
    white-space: nowrap;
    
}
